In [1]:
import pandas as pd
df = pd.read_csv('salaries.csv')
df

       company                  job     degree  salary_more_then_100k
0       google      sales executive  bachelors                      0
1       google      sales executive    masters                      0
2       google     business manager  bachelors                      1
3       google     business manager    masters                      1
4       google  computer programmer  bachelors                      0
5       google  computer programmer    masters                      1
6   abc pharma      sales executive    masters                      0
7   abc pharma  computer programmer  bachelors                      0
8   abc pharma     business manager  bachelors                      0
9   abc pharma     business manager    masters                      1
10    facebook      sales executive  bachelors                      1
11    facebook      sales executive    masters                      1
12    facebook     business manager  bachelors                      1
13    facebook     business manager    masters                      1
14    facebook  computer programmer  bachelors                      1
15    facebook  computer programmer    masters                      1

In [2]:
inputs = df.drop('salary_more_then_100k',axis='columns')
target = df['salary_more_then_100k']
print(inputs.tail())
print(target.head())

     company                  job     degree
11  facebook      sales executive    masters
12  facebook     business manager  bachelors
13  facebook     business manager    masters
14  facebook  computer programmer  bachelors
15  facebook  computer programmer    masters
0    0
1    0
2    1
3    1
4    0
Name: salary_more_then_100k, dtype: int64

In [3]:
# encoding text data to nummberic by lable encoder
from sklearn.preprocessing import LabelEncoder
le_one = LabelEncoder()
le_two = LabelEncoder()
le_three = LabelEncoder()
le_one

LabelEncoder()

In [4]:
inputs['company'] = le_one.fit_transform(inputs['company'])
inputs['job'] = le_two.fit_transform(inputs['job'])
inputs['degree'] = le_three.fit_transform(inputs['degree'])

In [5]:
inputs.head()

   company  job  degree
0        2    2       0
1        2    2       1
2        2    0       0
3        2    0       1
4        2    1       0

In [6]:
from sklearn import tree
model = tree.DecisionTreeClassifier()
model

DecisionTreeClassifier()

In [7]:
# model.fit(inputs_n, target)

from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(inputs,target,test_size=0.15)

In [8]:
print(x_train.size)
print(x_test.size)

39
9

In [9]:
model.fit(x_train,y_train)

DecisionTreeClassifier()

In [10]:
# not working correctly because less records
model.score(x_test,y_test)

0.6666666666666666

In [11]:
# traing with all available data then it works correctly
model.fit(inputs, target)

DecisionTreeClassifier()

In [12]:
model.score(x_train,y_train)

1.0

In [13]:
model.score(x_test,y_test)

1.0